<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
</head>
<body>
    <h2>
        Hello World!
    </h2>
    <form action="/api/item/insert" method="post" required>
      Id : <input type="text" name="id" required/>
      Name : <input type="text" name="name" required/>
      Price : <input type="text" name="price" required/>
      Description :
      Color : <input type="text" name="color" required/>
      Model : <input type="text" name="model" required/>

      register : <input type="submit"/>
    </form>
</body>
</html>